@page "/einlesen"
@using pic__simulator__lehmann.Class
<h3>Einlesen</h3>
<EditForm Model="@Programmspeicher">
    
</EditForm>
@code {
    private Programmspeicher _speicher = new Programmspeicher(size);

    private void HandleValidFile()
    {
        
    }
}