@page "/"
@using pic__simulator__lehmann.Models
@using System.Xml.Linq
@using System.ComponentModel.Design
@inject ILogger<Programm> logger;
<PageTitle>Index</PageTitle>

<h1>Willkommen beim PIC16 Simulator!</h1>

<button class="btn btn-primary" @onclick="StartSimulation">Start Programm!</button>
<p><input @bind="_interval" /> s</p>
 @if (_geladenesProgramm != null)
 {
     <table>
         <thead>
             <tr>
             <th>ID</th>
             <th>Breakpoints</th>
             <th>Befehle</th>
             </tr>
         </thead>
         <tbody>
         @foreach (var programmzeile in _geladenesProgramm._programm)
         {
             <tr>
                 <td>0</td>
                 <td></td>
                 <td>@programmzeile</td>
             </tr>
         }
         </tbody>
     </table>
 }
 else
 {
     <h2>Noch kein Programm geladen</h2>
 }
@code
{
    private int _interval = 5;
    private Programm? _geladenesProgramm;
    
    private void StartSimulation()
    {
        _geladenesProgramm = new Programm(_interval,logger);
    }
}
