body {
}

button{
    margin: 0.5rem;
}

.ports{
    padding-top: 1rem;
}

h3{
    margin-bottom: 1rem;
}

#portA, #portB {
    float: left;
    /*border: 1px solid black;*/
    margin: 0.5rem;
    /*margin-right: 2rem;*/
}



}

#trisA, #trisB {
    float: left;
    /*border: 1px solid black;*/
    margin: 0.5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}